a:link, a:visited {
	color: #A52A2A;
	background-color: transparent;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	width: 2048px;
	margin: 0;
	padding: 0;
	color: #888398;
	background-color: #fff;
	background-image: url(bg_body.jpg);
	background-position: right;
	background-repeat: repeat-y;
	font: 11px/1.5em Arial, Verdana, sans serif;
}

.extra2 {
	background: url(bg_face.jpg) no-repeat left bottom;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 600px;
	width: 265px;
	position: fixed;
	z-index: 2;
}

.extra3 {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	z-index: 1;
	background: url(bg_white.png);
	width: 225px;
}


header {
	position: relative;
	left: 220px;
	width: 1828px;
}

header h1 {
	width: 493px;
	height: 83px;
	margin: 20px 0;
	background-image: url(csszengarden.jpg);

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

header h2 {
	width: 1826px;
	height: 27px;
	background: url(thebeautyofcssdesign.jpg) no-repeat right;
	margin-top: -10px;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.summary {
	position: absolute;
	width: 1300px;
	left: 228px;
	top: 98px;
	letter-spacing: 0.1em;
	color: #a5a3b5;
}

.extra1 {
	position: absolute;
	left: 225px;
	top: 90px;
	height: 1px;
	width: 1823px;
	background-color: #a5a3b5;
}

.preamble {
	position: absolute;
	left: 375px;
	top: 160px;
	width: 200px;
	text-align: justify;
}

.explanation {
	position: absolute;
	left: 625px;
	top: 160px;
	width: 200px;
	text-align: justify;
}

.participation {
	position: absolute;
	left: 875px;
	top: 160px;
	width: 200px;
	text-align: justify;
}

.benefits {
	position: absolute;
	left: 1125px;
	top: 160px;
	width: 200px;
	text-align: justify;
}

.requirements {
	position: absolute;
	left: 1375px;
	top: 160px;
	width: 400px;
}

footer {
	position: absolute;
	left: 1828px;
	top: 3px;
	width: 220px;
	height: 20px;
	text-align: center;
	word-spacing: .1em;
	overflow: hidden;
}

footer a:link, footer a:visited {
	color: #B2AFC0;
	background-color: transparent;
}

.sidebar {
	position: absolute;
	left: 1828px;
	top: 160px;
	width: 220px;
	background: url(bg_linklist.jpg) repeat-y;
	text-transform: lowercase;
}

.sidebar .design-selection a:link, .sidebar .design-selection a:visited {
	display: block;
	margin-left: -10px;
	padding-left: 26px;
	color: #8b879e;
	border-top: 1px solid #c6c6d2;
	background: url(linklistlink.jpg) no-repeat;
}

.sidebar li a:link, .sidebar div.design-selection li a.designer-name:link, .sidebar li a:visited, .sidebar div.design-selection li a.designer-name:visited {
	display: inline;
	background-image: none;
	color: #A52A2A;
	background-color: transparent;
	padding-left: 0;
	margin-left: 0;
	border: none;
}

.sidebar ul {
	list-style: none;
	margin: 0 0 0 25px;
	padding-left: 0;
}

.sidebar li {
	padding-left: 10px;
}

div.design-selection h3 {
	float:left;
	margin-top: 0;
	width: 25px;
	height: 200px;
	background-image: url(selectadesign.jpg);
	background-repeat: no-repeat;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

div.design-archives {
	clear:left;
	margin-top: 0;
	border-top: 10px solid #D9D6E7; 
}

div.design-archives h3 {
	float:left;
	margin-top: 0;
	width: 25px;
	height: 81px;
	background-image: url(archives.jpg);
	background-repeat: no-repeat;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

div.zen-resources {
	clear:left;
	margin-top: 0;
	border-top: 10px solid #D9D6E7; 
}

div.zen-resources h3 {
	float:left;
	margin-top: 0;
	width: 25px;
	height: 95px;
	background-image: url(ressources.jpg);
	background-repeat: no-repeat;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

div.extra4 {
	position: absolute;
	left: 1828px;
	top: 20px;
	width: 214px;
	height: 65px;
	color: inherit;
	background-color: #D9D6E7;
	background-image: url(transition.jpg);
	background-repeat: no-repeat;
}